<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Bin <%= locals.page%></title>
    <link rel="icon" href="https://cdn.imgbin.com/10/9/11/trash-icon-bin-icon-pollution-icon-LtExeHnU.jpg">

</head>
<body>
<pre><%=locals.value%></pre> 
</body>
</html>