<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Bin <%= locals.page%></title>
    <link rel="icon" href="https://cdn.imgbin.com/10/9/11/trash-icon-bin-icon-pollution-icon-LtExeHnU.jpg">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js" integrity="sha512-EAEoidLzhKrfVg7qX8xZFEAebhmBMsXrIcI0h7VPx2CyAyFHuDvOAUs9CEATB2Ou2/kuWEDtluEVrQcjXBy9yw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

<nav class="nav-extended">
    <div class="nav-wrapper" style="padding-left: 1.5rem;">
      <a href="/" class="brand-logo">&#128465; Code Bin &#128465;</a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li style="user-select:none;" class="tab"><a  onclick= submit()>&#128190; Save</a></li>
        <li style="user-select:none; background-color: #129204; cursor: not-allowed;" class="tab"><a class="active" style="pointer-events: none" >&#128196; New</a></li>
        <li style="user-select:none; cursor: not-allowed" class="tab"><a style="pointer-events: none">&#128221; Duplicate and Edit</a></li>
        <li style="user-select:none; cursor: not-allowed" class="tab"><a style="pointer-events: none">&#128394; Just Text</a></li>
      </ul>
    </div>
  </nav>

    <form id="formData" action="/save" method="post">
        <div class="wrapper">
            <div class="line-numbers">
                &gt;
            </div>
            <textarea id="textarea" class="textarea" autofocus name="value">
                <%= locals.value %>
            </textarea>
        </div>
    </form>
</body>
<script>
    autosize(document.querySelector('textarea'))

    const submit = () => {

      if(document.getElementById("textarea").value.trim() !== ''){
          document.getElementById("formData").submit()
      }
    }
</script>
</html>