<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js" integrity="sha512-EAEoidLzhKrfVg7qX8xZFEAebhmBMsXrIcI0h7VPx2CyAyFHuDvOAUs9CEATB2Ou2/kuWEDtluEVrQcjXBy9yw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="styles/style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li style="user-select:none;" class="tab"><a  onclick= submit()>Save</a></li>
        <li style="user-select:none; background-color: #0595b8; cursor: not-allowed;" class="tab"><a class="active" style="pointer-events: none" >New</a></li>
        <li style="user-select:none; cursor: not-allowed" class="tab"><a style="pointer-events: none">Duplicate and Edit</a></li>
        <li style="user-select:none; cursor: not-allowed" class="tab"><a style="pointer-events: none">Just Text</a></li>
      </ul>
    </div>
  </nav>

    <form id="formData" action="/save" method="post">
        <div class="wrapper">
            <div class="line-numbers">
                &gt;
            </div>
            <textarea class="textarea" autofocus name="value">
                <%= locals.value %>
            </textarea>
        </div>
    </form>
</body>
<script>
    autosize(document.querySelector('textarea'))

    const submit = () => {
alert(document.getElementsByClassName("textarea").value)
      // if(document.getElementByClassName("textarea").value !== null){
      // alert("hurray! the anchor tag was clicked")
        
      //   document.getElementById("formData").submit()
      // }
    }
</script>
</html>