body {
    background-color: #0c0d0e;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display:flex;
    padding: 1rem .5rem;
    font-size: 1.5rem;
}

 pre {
    margin: 0;
}

#code-display {
    padding-top: 0;
    padding-bottom: 0;
}

.line-numbers {
    color: #20c20e;
    font-family: monospace;
    text-align: end;
}

.textarea {
    background-color: transparent;
    resize: none;
    width: 100%;
    padding: 0;
    margin-left: 1rem;
    color: #20c20e;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.nav-extended {
    position: fixed;
    background-color: #0C0D0E;
}

form {
    padding-top: 8rem;
}

li:hover{
    background-color: #129204;
}